<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sale.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @sale.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @sale.start_price %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>



<h2>Oferta para este remate </h2>
<%= form_for(@sale.bids.new) do |f| %>
 <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
 </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
 </div>
<% end %>


<h2>Últimas ofertas</h2>

<% @bids.each do |c| %>
<%= c.comment %>
<% end %>

